@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    background-color: #282a36; 
    color: #f8f8f2; 
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 80%;
    margin: auto;
    min-width: 600px;
    max-width: 860px;
}

.hero {
    height: 500px;
    background-image: url(../images/chess-set-2048px-8661-3x2-1.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    padding-top: 1px;
}

.hero-content {
    margin: 80px auto 0;
    width: 80%;
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 0;
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.hero-content p {
    background-color: rgba(0, 0, 0, .7);
    display: inline-block;
    font-size: 18px;
    padding: 16px;
    border-bottom: 2px solid;
}

.hero nav ul {
    margin: 20px 50px 0 0;
    text-align: center;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
}

.hero nav a {
    background: rgba(0, 0, 0, .7);
    padding: 16px;
    display: block;
    text-decoration: none;
    color: #a54cf8;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover {
    background-color: rgba(0, 0, 0, .4);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapeamento {
    color: #ff79c6; /* Cor do link rosa */
}

#mapeamento:hover {
    color: #bd93f9;
}

article {
    background-color: rgb(65, 65, 65);
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

article h2 {
    border-bottom: 2px solid rgb(164, 164, 164);
    background-color: #21222C;
    padding: 10px;
    margin-top: 0;
    text-align: center;
}

article p {
    letter-spacing: 1px;
}